<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <h2>Performance Report</h2>
  <p>Hello <%= @exam_performance.user.username %>,</p>
  <p>Please find attached your performance report.</p>
</body>
</html>
