<div class='container'>
  <h1>Edit Subject</h1>
  <%= render 'form', subject: @subject, url: admin_subject_path(@subject), method: :patch, submit_button_text: 'Update Subject', departments: @departments %>
  
</div>