<div class='container'>
  <h1>Create New Exam</h1>
  <%= render 'form', url: admin_exams_path, method: 'post', submit_button_text: 'Create Exam' %>
  <p><%= link_to 'Back to Exams', admin_exams_path %></p>
</div>