<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  <style>
    /* Add your custom email styling here */
  </style>
</head>
<body>
  <h2>Exam Reminder</h2>
  <p>Hello <%= @user.username %>,</p>
  
  <p>This is a friendly reminder that you have an exam scheduled for <%= @exam.subject.subject_name %> in <%= @time_before %>.</p>

  <p>Please make sure to prepare yourself and be ready for the exam.</p>

  <p>You can now access your dashboard by clicking the button below:</p>

  <a href="http://localhost:3000/" class="btn btn-primary">Go to Dashboard</a>
  
  <p>Best of luck!</p>

  <p>Regards,</p>
  <p>Your Application Team</p>
</body>
</html>
