 <div class="container">
  <h2>Exam Reminder</h2>
  <p>Hello <%= @user.username %>,</p>
  
  <p>This is a friendly reminder that you have an exam scheduled for <%= @exam.exam_name %> in <%= @time_before %>.</p>

  <p>Please make sure to prepare yourself and be ready for the exam.</p>

  <p>You can now access your dashboard by clicking the button below:</p>

  <a href="http://localhost:3000/" class="btn btn-primary">Go to Dashboard</a>
  
  <p>Best of luck!</p>

  <p>Regards,</p>
  <p>Your Application Team</p>
</div>