<!-- app/views/leaderboard/show.html.erb -->

<h1>Performance Details</h1>

<h2>User: <%= @exam_performance.user.username %></h2>
<h2>Subject: <%= @exam_performance.exam.subject.subject_name %></h2>
<h2>Total Marks: <%= @exam_performance.marks_obtained %></h2>

<p>
  <!-- Add any additional performance details you want to display -->
</p>

