<div class='container'>
  <h1>Add New Question</h1>
  <%= render 'form', question: @question, url: admin_questions_path, method: :post, submit_button_text: 'Create Question', exams: @exams %>
  <p><%= link_to 'Back to Questions', admin_questions_path %></p>
</div>