<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body text-center">
          <h1 class="card-title">MagicLinkAuthentication</h1>
          <p class="card-text">Log In link has been sent to your email. Please check your inbox.</p>
          <a href="<%= magic_url %>" class="btn btn-primary">Chainge Email</a>
        </div>
      </div>
    </div>
  </div>
</div>
