<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MagicLinkAuthentication</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center mt-5">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body text-center">
              <h1 class="card-title">MagicLinkAuthentication</h1>
              <p class="card-text">Log In link has been sent to your email. Please check your inbox.</p>
              <a href="<%= magic_url %>" class="btn btn-primary">Chainge Email</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
