<div id="exam-data" end_time = "<%= @exam.end_time.strftime('%Y-%m-%dT%H:%M:%S.%L%z') %>"></div>
<div class="container">
  <nav class="navbar navbar-expand navbar-light bg-light sticky-top">
    <a class="navbar-brand" href="#"><%= @exam.exam_name %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <span class="navbar-text">
            <h4><strong id="countdown"></strong></h4>
          </span>
        </li>
      </ul>
    </div>
  </nav>
  <%= render 'exam_form', exam: @exam, questions: @exam.shuffled_questions %>
</div>
<%= javascript_pack_tag 'timer'%>


